@(controller:de.htwg.se.heroes.controllerComponent.ControllerInterface)


<html>
    <head>
    </head>
    <body>
        <pre style="word-wrap: break-word; white-space: pre-wrap;">@controller.playgroundToString
        </pre>

        <button type="submit"><a href="http://localhost:9000/buttonUp">MoveUp</a></button>
        <button type="submit"><a href="http://localhost:9000/buttonDown">MoveDown</a></button>
        <button type="submit"><a href="http://localhost:9000/buttonLeft">MoveLeft</a></button>
        <button type="submit"><a href="http://localhost:9000/buttonRight">MoveRight</a></button>
    </body>

</html>


