@()

    @main("HTWG Heroes") {
        <style>
                h1 {font:20px "Helvetica Nueue",sans-serif;}
        </style>
        <h1>About Heroes</h1>
        <p>
            <a href="https://en.wikipedia.org/wiki/Heroes_of_Might_and_Magic:_A_Strategic_Quest">
            <img src=@routes.Assets.versioned("images/Homm3.jpg")>
            </a>
        </p>
        <h1>
            Historic Background
        </h1>
        <br>
        <table border=5 style="width:80%" >
            <tr>
                <th>  <b>Name </b> </th>
                <th>  <b>Release Date </b></th>
                <th>  <b>Compatibility </b> </th>
            </tr>
            <tr>
                <td>Heroes:Might and Magic</td>
                <td>1995</td>
                <td>DOS, Windows 95, Mac OS</td>
            </tr>
            <tr>
                <td>Heroes:Might and Magic &#8545;</td>
                <td>1996</td>
                <td>DOS, Microsoft Windows 95, Mac OS, RISC OS, GBC</td>
            </tr>
            <tr>
                <td>Heroes:Might and Magic &#8546;</td>
                <td>1999</td>
                <td>Windows, Macintosh, Linux (PowerPC/x86), iOS, Android</td>
            </tr>
            <tr>
                <td>Heroes:Might and Magic &#8547;</td>
                <td>2002</td>
                <td>Microsoft Windows, Mac OS</td>
            </tr>
            <tr>
                <td>Heroes:Might and Magic &#8548;</td>
                <td>2006</td>
                <td>Microsoft Windows, OS X</td>
            </tr>
            <tr>
                <td>Heroes:Might and Magic &#8549;</td>
                <td>2011</td>
                <td>Microsoft Windows</td>
            </tr>
        </table>

        <br>
        <h1>
          Gameplay-
        </h1>
        <br>
        <p>
            Heroes of Might and Magic takes place in a medieval fantasy world filled with creatures frequently associated with myth and legend. These creatures compose the military forces (troops) with which the player attempts to conquer opponents. The player leads generals through the game world at the head of armies of troops. These generals, called <b>"heroes,"</b> provide a means to explore, attack, defeat, and acquire, the four basic principles in the game. The ultimate goal of the game is usually to capture all enemy castles and defeat all enemy heroes. However, the game comes with many different play scenarios, and some of these scenarios have unique victory conditions, such as accumulating a certain amount of gold, or finding a particular artifact.[citation needed]

            There are four different classes of heroes and castles, each with their own units and strengths/weaknesses. The two "might" classes, Knight and Barbarian, earn skill points in attack or defense more often than in spell power or knowledge. The two <b>"magic"</b> classes, Sorceress and Warlock, earn skill points in spell power or knowledge more often than in attack or defense. There is also a neutral, "wandering" class of troops, including Rogues, Nomads, Ghosts (the only one that can not be hired) and Genies.
        </p>
    }
