@import play.api.data.Form
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import b4.inline.fieldConstructor

@this()(implicit webJarsUtil: WebJarsUtil, assets: AssetsFinder)
@(changePasswordForm: Form[(String, String)], user: models.User)(implicit request: RequestHeader, messages: Messages)

@implicitFieldConstructor = @{ b4.vertical.fieldConstructor() }

@main(messages("change.password.title"), Some(user)) {
    <fieldset class="col-md-6 col-md-offset-3">
        <h1>Wait for Players</h1>
        <div id="heroes-player" class="pagecontainer">

            <heroes-wait></heroes-wait>

        </div>
        <script src='@assets.path("javascripts/vue.js")'></script>
        <script src='@assets.path("javascripts/heroesVue.js")'></script>
        <script src='@assets.path("stylesheets/wui.css")'></script>
    </fieldset>
}